<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetailsvendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/productDetails/css/util.css">
    <link rel="stylesheet" type="text/css" href="/productDetails/css/main.css">


    <link rel="shortcut icon" href="/images/logo final 2.jpeg" type="">
    <title>Spectacular</title>
    <!-- bootstrap core css -->
    <!-- <link rel="stylesheet" type="text/css" href="/users/css/bootstrap.css" /> -->
    <!-- font awesome style -->
    <link href="/users/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/users/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/users/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
        <!-- header section strats -->
        <header class="header_section" style="background-color: #427677;">
            <div class="container" style="background-color: #427677;">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/"><img width="250"
                            src="/images/logo_final_2-removebg-preview-removebg-preview (2).png" alt="#">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <% categories.forEach(function(category){%>
                                <% if (category.status) { %>
                                    <li class="nav-item">
                                        <a class="nav-link px-2"
                                            href="/spectacular/<%=category.categoryname%>/<%= category._id %> ">
                                            <%= category.categoryname %>
                                        </a>
                                    </li>
                                <% } %>
                            <% }) %>

                            <% if(session){ %>
                                <li class="nav-item">
                                    <a class="nav-link px-1" href="/cart/<%=session._id %>">
                                        <svg version="1.1" id="Capa_1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 456.029 456.029"
                                        style="enable-background:new 0 0 456.029 456.029;"
                                        xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path
                                                        d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                                        c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path
                                                        d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                                        c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                                </g>
                                            </g>
                                            <g>
                                            </g>
                                        </svg>
                                    </a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link px-1" href="/profile/<%=session._id%>">
                                        <i class="material-icons"
                                            style="font-size:1.5rem;color:black">person
                                    </a>
                                </i>
                    
                    
                             <% }else{ %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link px-1 " href="/signin" style="color: black;">LogIn</a>
                                </li>
                             <% } %>
                             <li class="nav-item d-flex" >
                                <form action="/search" method="post" class="nav-item d-flex">
                                <input class= "p-0 mx-1" style=" font-display:black  ;height: 23px;width: 90px;background-color: #427677 ;outline: 1px solid black;color: black; border-radius : 8px; border-color: #427677;" type="search" 
                                name="search" placeholder="search"> 
                                <button  class="nav-link p-0 mb-2" type="submit"><i class="material-icons " style="font-size:1.5rem;color:black">search</i></button>
                                </form>
                             </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>           
    
    

    <section class="bg0 p-t-23 p-b-140 p-5">
        <div class="heading_container heading_center mb-4">
            <h2>
                Our <span>products</span>
            </h2>
        </div>
        <div class="row isotope-grid">
            <% products.forEach(function(product){%>

                <div class="col-sm-6 col-md-4 col-lg-2 p-3 isotope-item  m-5">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="/<%= product.image[0].path %> " style="width: 10em; height:5em;"
                                alt="IMG-PRODUCT">

                            <a href="/product/<%=product._id%>"
                                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04"
                                data-id="<%= product._id %>">
                                View
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <%= product.productname %>
                                </a>

                                <span class="stext-105 cl3">
                                    RS <%= product.price %> /- <%= product.discount %>%OFF
                                </span>
                            </div>

                            <div class="block2-txt-child2 flex-r p-t-3">

                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>

        </div>
        
        <% if(productCount){%>
            <% if (results.previous || results.next) { %>
                <div class="d-flex justify-content-around" >
                    
                    <% if (results.previous) { %>

                        <a class=" m-5 me-4" style="color: black;"
                            href="/spectacular/<%=products[0]?.category?.categoryname%>/<%=products[0]?.category._id %>?page=<%= results.previous.page %>&limit=<%= results.previous.limit %>">Previous</a>

                    <% } %>
                    

                    <% if (results.next) { %>

                        <a class="ms-5 m-5" style="color: black;"
                        href="/spectacular/<%=products[0]?.category?.categoryname%>/<%=products[0]?.category._id %>?page=<%= results.next.page %>&limit=<%= results.next.limit %>">Next</a>

                    <% } %>

                </div>
                <div class="d-flex justify-content-center" >
                <h6>page No :<%= page %></h6>
                </div>
                <% } %>

                    <% } else { %>
                        <h3>NO PRODUCTS AVAILABLE IN THIS CATEGORY</h3>
                        <% } %>
    </section>



    <footer style="background-color: #427677">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="full">
                        <div class="logo_footer">
                            <a href="#"><img width="210" src="/images/logo final 2.jpeg" alt="#" /></a>
                        </div>
                        <div class="information_f">
                            <p><strong>ADDRESS</strong></p>
                            <p><strong>TELEPHONE</strong></p>
                            <p><strong>EMAIL</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Menu</h3>
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Account</h3>
                                        <ul>
                                            <li><a href="#">Account</a></li>
                                            <li><a href="#">Checkout</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Register</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="widget_menu">
                                <h3>FollowUs</h3>
                                <div class="information_f">
                                    <ul>
                                        <li><a href="#">FaceBook</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->




    <!-- <script>const button = document.getElementById("myButton");
            button.addEventListener("click", function () {
                const icon = button.querySelector("i");
                if (icon.classList.contains("fa-thumbs-up")) {
                    icon.classList.remove("fa-thumbs-up");
                    icon.classList.add("fa-thumbs-down");
                } else {
                    icon.classList.remove("fa-thumbs-down");
                    icon.classList.add("fa-thumbs-up");
                }
            });
        </script> -->



    <script src="/users/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="/users/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/users/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="/users/js/custom.js"></script>





    <!--===============================================================================================-->
    <script src="/productDetails/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/bootstrap/js/popper.js"></script>
    <script src="/productDetails/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/daterangepicker/moment.min.js"></script>
    <script src="/productDetails/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/slick/slick.min.js"></script>
    <script src="/productDetails/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>

    <!--===============================================================================================-->
    <script src="/productDetails/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        $('.js-addwish-b2').each(function () {
            let nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            let id = $(this).data('product-id');
            $(this).on('click', function addToWishlist() {
                $.ajax({
                    url: "/addtoWishlist/" + id,
                    success: function () {
                        swal({
                            title: nameProduct + "Added to WishList!",
                            text: "Thank You!",
                            icon: "success",
                        });
                    },
                })
            });
        });


        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="/productDetails/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="/productDetails/js/main.js"></script>


</body>

</html>